In [20]:
import requests
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd

In [21]:
import csv

stock_codes = []
with open('bist100kod.csv', newline='') as inputfile:
    for row in csv.reader(inputfile):
        stock_codes.append(row[0])

In [22]:
df=pd.DataFrame()
#stock_codes=['TUKAS','GARAN','YKBNK']
for code in stock_codes:
    try:
        date = requests.get(f"https://www.oyakyatirim.com.tr/Equity/GetHistoricalEquityData?mode=3&code={code}")
        date = np.array(eval(date.text))[:,0]
        vals = requests.get(f"https://www.oyakyatirim.com.tr/Equity/GetHistoricalEquityData?mode=3&code={code}")
        vals = np.array(eval(vals.text))[:,1]
    except Exception as e:
        print(str(e))
    
    try:
        df['DATE']=date
        df[code]=vals
    except Exception as e:
        print(str(e))
df.to_excel(r'C:\Users\Kaan\Desktop\data\output.xlsx', index = False)

Length of values does not match length of index
Length of values does not match length of index
Length of values does not match length of index

In [23]:
df

,DATE,AFYON,AKBNK,AKSA,AKSEN,ALGYO,ALARK,ALBRK,AEFES,ANELE,...,TCELL,HALKB,ISCTR,ULKER,VAKBN,VERUS,VESTL,YKBNK,YATAS,ZOREN
0,1.575331e+12,1.97,7.64,6.34,3.78,14.70,5.28,1.20,20.36,3.02,...,13.02,5.78,6.06,21.50,5.09,17.59,11.49,2.40,6.45,1.41
1,1.575418e+12,1.96,7.71,6.38,3.82,14.79,5.33,1.21,19.91,3.07,...,13.18,5.80,6.17,21.46,5.20,17.72,11.73,2.40,6.47,1.47
2,1.575504e+12,2.04,7.76,6.36,3.84,15.15,5.44,1.24,19.86,3.08,...,13.50,5.93,6.25,21.90,5.24,17.84,11.80,2.45,6.88,1.48
3,1.575590e+12,2.05,7.77,6.56,3.81,15.27,5.41,1.29,20.08,3.11,...,13.52,5.87,6.20,21.72,5.10,17.99,12.15,2.47,6.47,1.47
4,1.575850e+12,2.09,7.67,6.70,3.89,15.23,5.34,1.31,20.08,3.13,...,13.22,5.80,6.13,21.36,5.12,18.15,12.26,2.46,6.54,1.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,1.606262e+12,4.56,6.30,10.73,7.05,18.37,6.40,1.72,22.16,3.25,...,15.32,5.33,6.69,22.08,4.68,43.24,19.96,3.01,11.86,2.72
247,1.606349e+12,4.48,6.45,10.81,7.04,18.11,6.32,1.73,23.48,3.35,...,15.48,5.45,6.80,22.24,4.81,45.52,20.00,3.07,11.58,2.80
248,1.606435e+12,4.50,6.38,10.63,7.12,18.61,6.39,1.71,23.28,3.38,...,15.35,5.42,6.80,22.26,4.76,44.68,20.68,2.99,11.80,2.73
249,1.606694e+12,4.52,6.02,10.69,7.00,19.69,6.32,1.70,22.48,3.20,...,14.80,5.35,6.51,22.20,4.54,43.42,20.00,2.86,11.96,2.66
250,1.606781e+12,4.32,6.31,10.88,7.21,19.92,6.50,1.72,20.94,3.24,...,15.29,5.42,6.79,22.20,4.70,43.70,20.20,2.99,11.73,2.72