In [1]:
import requests
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import pandas as pd

In [2]:
stock_codes=['TUKAS','GARAN','YKBNK']
df=pd.DataFrame()
for code in stock_codes:
    
    date = requests.get(f"https://www.oyakyatirim.com.tr/Equity/GetHistoricalEquityData?mode=2&code={code}")
    date = np.array(eval(date.text))[:,0]
    
    vals = requests.get(f"https://www.oyakyatirim.com.tr/Equity/GetHistoricalEquityData?mode=2&code={code}")
    vals = np.array(eval(vals.text))[:,1]
    
    df['DATE']=date
    df[code]=vals
df.to_excel(r'C:\Users\Kaan\Desktop\data\output.xlsx', index = False)

In [3]:
df

            DATE  TUKAS  GARAN  YKBNK
0   1.604275e+12  10.13   6.61   2.19
1   1.604362e+12  10.05   6.95   2.33
2   1.604448e+12  10.14   6.93   2.32
3   1.604534e+12  10.38   6.96   2.30
4   1.604621e+12  11.11   6.98   2.33
5   1.604880e+12  10.75   7.48   2.47
6   1.604966e+12  10.67   7.76   2.55
7   1.605053e+12  10.54   8.50   2.80
8   1.605139e+12  10.31   8.63   2.77
9   1.605226e+12  10.63   8.86   2.90
10  1.605485e+12  10.74   8.95   2.86
11  1.605571e+12  11.40   8.42   2.67
12  1.605658e+12  10.93   8.85   2.93
13  1.605744e+12  10.83   9.52   3.11
14  1.605830e+12  10.87   9.45   3.09
15  1.606090e+12  10.75   9.07   2.94
16  1.606176e+12  10.81   9.05   2.97
17  1.606262e+12  11.18   9.07   3.01
18  1.606349e+12  11.03   9.34   3.07
19  1.606435e+12  11.30   9.18   2.99
20  1.606694e+12  11.88   8.75   2.86